{% extends "base.html" %}

{% block content %}
{% if status == 'admin' %}
    <a href="/albumAdmin" class="admin-button-1">Загрузить альбом</a>
{% endif %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='image/cash/1f11331f-0447-5f8b-9618-fc617d4a1e8e.jpg') }}"
                 class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='image/cash/30b53e86-81e5-48b7-a98e-585ab8656abd.jpg') }}"
                 class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='image/cash/95108294-cc56-5cd4-a096-5221ef154add.jpg') }}"
                 class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="album-container">
    <div class="album-grid">
        {% for image in images %}
        <div class="album-item">
            <a href="{{ url_for('photo', photo_id=image.id) }}">
                <img src="{{ url_for('static', filename='image/album/' + image.description +  '/' + image.filename) }}"
                     alt="Фотография">
            </a>
            <p>{{ image.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}