<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/style_2.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/style_2.css'">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/main_style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/album_style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/photo_style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/shop_style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/main_slayid_style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='css/buy.css') }}">
    <link rel="icon" href="/static/image/design_image/logo.png" type="image/png">
</head>
<body>
<div style="display: flex; flex-direction: column; min-height: 100vh;">
  <header>
    <div class="logo-container">
          <button class="logo-button" onclick="location.href='/'">
            <div class="logo">
              <img src="/static/image/logo.jpg" alt="Логотип">
            </div>
          </button>
          <div class="title">
            <span style="font-size: 36px; font-weight: bold; color: #f8c301;">ВК "Новый Век"</span>
          </div>
          {% if current_user.is_authenticated %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="logo" style="width: 40px; height: auto;">
                                <img src="/static/image/design_image/notifications.png" alt="Логотип" class="avatar" style="border: none;">
                            </div>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end" style="
                                    background-color: rgb(26, 29, 31); height: 400px; width: 300px; overflow-y: scroll;" id="invite_friend">
                              {% if len_notifications != 0 %}
                                  {% for n in notifications %}
                                        {% if n.split()[0] == 'add' %}
                                            <div class="notification"><div>
                                                <button class="logo-button-avatar" onclick="location.href='/profile/{{ n.split()[1] }}'">
                                                    <img src="/static/users/{{ n[4:] }}/avatar.png" alt="Логотип" class="avatar"
                                                            style="height: 45px; width: auto; margin: 10px;">
                                                </button>
                                                <span style="color: #f8c301; font-size: 17px;">Заявка в друзья!</span></div>
                                                <div>
                                                <button type="button" class="btn btn-warning"
                                                        onclick="location.href='/cancel_add_friend/{{ n.split()[1] }}/{{current_user.id }}/{{loop.index}}'"
                                                        style="float:right; margin-right: 10px;">Отклонить</button>
                                                <button type="button" class="btn btn-light"
                                                        onclick="location.href='/perform_add_friend/{{ n.split()[1] }}/{{current_user.id }}/{{loop.index}}'"
                                                        style="float:right; margin-right: 10px;">Принять</button>
                                                </div>
                                            </div>
                                        {% elif n.split()[0] == 'invite' %}
                                            <div class="notification"><div>
                                                <button class="logo-button-avatar" onclick="location.href='/profile/{{ n.split()[1] }}'">
                                                    <img src="/static/users/{{ n.split()[1] }}/avatar.png" alt="Логотип" class="avatar"
                                                            style="height: 45px; width: auto; margin: 10px;">
                                                </button>
                                                <a style="color: #f8c301; font-size: 17px;" href="/league/{{ n.split()[2] }}/0">Приглашение!</a></div>
                                                <div>
                                                <button type="button" class="btn btn-warning"
                                                        onclick="location.href='/cancel_invite_friend/{{ n.split()[1] }}/{{current_user.id }}/{{ n.split()[2] }}/{{loop.index}}'"
                                                        style="float:right; margin-right: 10px;">Отклонить</button>
                                                <button type="button" class="btn btn-light"
                                                        onclick="location.href='/perform_invite_friend/{{ n.split()[1] }}/{{current_user.id }}/{{ n.split()[2] }}/{{loop.index}}'"
                                                        style="float:right; margin-right: 10px;">Принять</button>
                                                </div>
                                            </div>
                                        {% endif %}
                                  {% endfor %}
                              {% else %}
                                    <div class="notification"><div>
                                        <button class="logo-button-avatar" onclick="location.href='/profile/1'"
                                            style="margin-top: 25px;">
                                            <img src="/static/users/1/avatar.png" alt="Логотип" class="avatar"
                                                 style="height: 45px; width: auto; margin: 10px;">
                                        </button>
                                        <span style="color: #f8c301; font-size: 17px; margin-top: 25px;">Нет уведомлений</span></div>
                                    </div>
                              {% endif %}
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
          {% endif %}
          {% if current_user.is_authenticated %}
                <button class="logo-button-avatar" onclick="location.href='/friends'"
                        style="margin-right: 20px;">
          {% endif %}
          {% if current_user.is_authenticated %}
                <div class="logo" style="width: 40px; height: auto;">
                <img src="/static/image/design_image/fiends.png" alt="Логотип" class="avatar" style="border: none;">
                </div>
          {% endif %}

          {% if current_user.is_authenticated %}
                <button class="logo-button-avatar" onclick="location.href='/profile/{{ current_user.id }}'">
          {% else %}
                <button class="logo-button-avatar" onclick="location.href='/login'">
          {% endif %}
            <div class="logo" id="avatar">
              {% if current_user.is_authenticated %}
                {% set id = current_user.id.__str__()%}
                <img src="/static/users/{{ id }}/avatar.png" alt="Логотип" class="avatar">
              {% else %}
                <img src="/static/users/guest.png" alt="Логотип" class="avatar">
              {% endif %}
            </div>
          {% if current_user.is_authenticated %}
                </button>
          {% endif %}
    </div>
    <nav>
      <ul>
        <li><a href="/" class="button">Главная</a></li>
        <li><a href="/tournaments" class="button">Турниры</a></li>
        <li><a href="/shop" class="button">Товары</a></li>
        <li><a href="#" class="button">Результаты</a></li>
        <li><a href="/album" class="button">Альбомы</a></li>
      </ul>
    </nav>
  </header>
  <main role="main" class="container" style="overflow-y: hidden; overflow-x: hidden;">
      {% block content %}{% endblock %}
  </main>
<footer class="footer" style="margin-top: auto;">
  <div class="container-3">
    <div class="footer-logo">
      <img src="{{ url_for('static', filename='image/logo_3.jpg') }}" alt="Логотип">
    </div>
    <div class="footer-text">
      <p>&copy; Все права на любые материалы, опубликованные на сайте, защищены в соответствии с российским и международным законодательством об интеллектуальной собственности.</p>
      <p>Любое использование текстовых, фото, аудио и видеоматериалов возможно только с согласия правообладателя.</p>
    </div>
    <ul class="footer-links">
      <li><a href="https://vk.com/vcnovyvek?from=groups">Группа вк</a></li>
      <li><a href="#">Правила приема и возврата платежей</a></li>
      <li><a href="#">Оплата</a></li>
      <li><a href="https://vk.com/kvachaa">Сообщить о ставке/договорном матче</a></li>
    </ul>
    <div class="footer-contacts">
      <p>Контактные данные:</p>
      <p>+79045934152</p>
      <p>info@mail.ru</p>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</div>
</body>
</html>