<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <link rel="stylesheet" href="./../../../static/css/style.css">
        <link rel="icon" href="./../../../static/image/design_image/logo.png" type="image/png">
    </head>
    <body style="background-color: rgb(33, 37, 41);">
        <div style="background-color: rgb(26, 29, 31); width: 60%; padding: 3%;" class="login">
            <form action="/league/{{ league.id }}/{{ num }}" method="post">

            <div style="display: inline;">
            <nav>
              <ul class="pagination pagination-sm" style="float: left;">
                {% for group in groups %}
                    {% if loop.index - 1 == num %}
                      <li class="page-item active" aria-current="page">
                        <span class="page-link" style="background-color: #36AFAA; border: 1px solid #36AFAA;">
                            {{ group.name }}</span>
                      </li>
                    {% else %}
                        <li class="page-item">
                                <a class="page-link" style="color: #36AFAA;"
                                   href="/league_id/{{ league.id }}/{{ loop.index - 1 }}">
                        {{ group.name }}</a></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </nav>
            <button style="float:right;" class="home" name="home">
                <img src="./../../../static/image/design_image/home.png" style="width: 40px; height: auto;"></button>
            </div>

            <table style="width: 100%;">
                <tr>
                    <td colspan="9" style="background-color: #FFF; font-family: 'Arial'; font-weight: bold; font-size: 40px;">
                        {{ group.name }}</td>
                </tr>
                <tr>
                    <td class="title_td" style="width: 9%;">Номер матча</td>
                    <td class="title_td" style="width: 9%;">Корт</td>
                    <td class="title_td" style="width: 18%;">Команда 1</td>
                    <td class="title_td" style="width: 9%;">VS</td>
                    <td class="title_td" style="width: 18%;">Команда 2</td>
                    <td class="title_td" style="width: 18%;">Судит</td>
                    <td class="title_td" colspan="3" style="width: 19%;">Результат</td>
                </tr>
                {% for game in games %}
                    <tr>
                        <td class="item_td" style="width: 9%; font-weight: bold;">{{ loop.index }}</td>
                        <td class="item_td" style="width: 9%; font-weight: bold;" contenteditable="{{ admin }}">
                            {{ result[loop.index - 1][0] }}
                        </td>
                        <td class="item_td" style="width: 18%;">{{ game[0] }}</td>
                        <td class="item_td" style="width: 9%; font-weight: bold; color: #F00;">VS</td>
                        <td class="item_td" style="width: 18%;">{{ game[1] }}</td>
                        <td class="item_td" style="width: 18%;">{{ game[2] }}</td>
                        <td class="item_td" style="width: 7%;" contenteditable="{{ admin }}">
                            {{ result[loop.index - 1][1] }}
                        </td>
                        <td class="item_td" style="width: 5%; font-weight: bold;">:</td>
                        <td class="item_td" style="width: 7%;" contenteditable="{{ admin }}">
                            {{ result[loop.index - 1][2] }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td contenteditable="{{ admin }}" colspan="9" style="background-color: #D9D9D9;" class="title_td">
                        {{ format }}
                    </td>
                </tr>
            </table>


            {% if current_user.status == 'admin' %}
                <button type="submit" class="btn btn-light"
                        style="width: 100%; margin-top: 50px;" name="apply">Применить</button>
                <button type="submit" class="btn btn-warning"
                        style="width: 100%; margin-top: 10px;" name="name">Завершить</button>
            {% endif %}
            </form>
        </div>
    </body>
</html>