{% extends "base.html" %}

{% block content %}
<div>
<div class="container_leagues" style="float:left; grid-template-rows: repeat({{ q_league }}, 220px);" id="leagues_all">
    {% for league_my in leagues %}
    <button class="league-item" onclick="location.href='/league/{{ league_my.id }}/0'"
            style="background-color: #212529; border: 0px; margin: 15px; height: 200px; font-weight: bold;">
        {% if league_my == league %}
            <span class="text-log" style="color: rgb(228, 175, 1);">{{ league_my.type }} {{ league_my.level }}</span>
        {% else %}
            <span class="text-log" style="color: #000;">{{ league_my.type }} {{ league_my.level }}</span>
        {% endif %}
    </button>
    {% endfor %}
</div>
<div style="background-color: #DDD; width: 70%; padding: 3%;
    padding-top: 2%; float:right; margin-top: 1%; margin-bottom: 2%; border-radius: 10px;
    padding-bottom: 2%;">
    <form action="/league/{{ league.id }}/{{ num }}" method="post">
        <nav>
            <ul class="pagination pagination-sm" style="float: left;">
                {% for group in groups %}
                {% if loop.index - 1 == num %}
                <li class="page-item active" aria-current="page">
                        <span class="page-link" style="background-color: #f8c301; border: 1px solid #f8c301; font-family: 'Arial';">
                            {{ group.name }}</span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" style="color: #f8c301; font-family: 'Arial';"
                       href="/league/{{ league.id }}/{{ loop.index - 1 }}">
                        {{ group.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <table style="width: 100%;">
            <tr>
                <td colspan="9"
                    style="font-family: 'Arial'; font-weight: bold; font-size: 40px; border: 0px solid #000;">
                    {{ group.name }}
                </td>
            </tr>
            <tr>
                <td class="title_td" style="width: 8%;">Номер матча</td>
                <td class="title_td" style="width: 8%;">Корт</td>
                <td class="title_td" style="width: 18%;">Команда 1</td>
                <td class="title_td" style="width: 8%;">VS</td>
                <td class="title_td" style="width: 18%;">Команда 2</td>
                <td class="title_td" style="width: 18%;">Судит</td>
                <td class="title_td" colspan="3" style="width: 22%;">Результат</td>
            </tr>
            {% for game in games %}
            <tr valign="{{ loop.index - 1 }}">
                <td class="item_td" style="width: 8%; font-weight: bold;">{{ loop.index }}</td>
                <td class="item_td" style="width: 8%; font-weight: bold;">
                    {% if current_user.status == 'admin' %}
                        <input type="text" value="{{ result[loop.index - 1][0] }}" class="redact_input" style="font-weight: bold;"
                               name="{{ loop.index - 1 }} 0">
                    {% else %}
                        {{ result[loop.index - 1][0] }}
                    {% endif %}
                </td>
                <td class="item_td" style="width: 18%;">{{ game[0] }}</td>
                <td class="item_td" style="width: 8%; font-weight: bold; color: #F00;">VS</td>
                <td class="item_td" style="width: 18%;">{{ game[1] }}</td>
                <td class="item_td" style="width: 18%;">{{ game[2] }}</td>
                <td class="item_td" style="width: 8%;">
                    {% if current_user.status == 'admin' %}
                        <input type="text" value="{{ result[loop.index - 1][1] }}" class="redact_input"
                               name="{{ loop.index - 1 }} 1">
                    {% else %}
                        {{ result[loop.index - 1][1] }}
                    {% endif %}
                </td>
                <td class="item_td" style="width: 6%; font-weight: bold;">:</td>
                <td class="item_td" style="width: 8%;">
                    {% if current_user.status == 'admin' %}
                        <input type="text" value="{{ result[loop.index - 1][2] }}" class="redact_input"
                           name="{{ loop.index - 1 }} 2">
                    {% else %}
                        {{ result[loop.index - 1][2] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="9" style="background-color: #B6B6B6;" class="title_td">
                    {% if current_user.status == 'admin' %}
                        <input type="text" value="{{ format }}" class="redact_input" style="background-color: #B6B6B6; font-weight: bold;" name="format">
                    {% else %}
                        {{ format }}
                    {% endif %}
                </td>
            </tr>
        </table>

        {% if current_user.status == 'admin' %}
        <button type="submit" class="btn btn-warning"
                style="width: 100%; margin-top: 50px; font-family: 'Arial';" name="apply">Применить
        </button>
        {% endif %}
    </form>
</div>
</div>
{% endblock %}