{% extends "base.html" %}

{% block content %}
<div class="photo-gallery">
  <div class="photo-grid">
    {% for image in images_2 %}
      <div class="photo-item">
        <a href="#photo-modal-{{ loop.index }}">
        <img src="{{ url_for('static', filename='image/cash/' + image.filename) }}" alt="Фото товара">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% for image in images_2 %}
<div class="modal nn" id="photo-modal-{{ loop.index }}">
  <a href="#" class="modal-close nnnn">&times;</a>
  <div class="modal-content nnn">
        <img src="{{ url_for('static', filename='image/cash/' + image.filename) }}" alt="Фото товара">
      <a href="/download_photo/{{ image.filename }}" class="download-button">Загрузить в профиль</a>
  </div>
</div>
{% endfor %}
{% endblock %}